<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{{ request.session.first_name }}'s Appointment Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid gx-0 mx-0 px-0" id="white">
    <nav class="navbar fixed-top bg-danger justify-content-between" id="nav2" role="group">
        <a href="" class="navbar-brand"><h1 class="h1">Welcome, {{ request.session.first_name }}!</h1></a> 
        <div class="btn-group inline" role="group">
            <a href="/logout" class="btn btn-warning">Logout</a> 
        </div>
    </nav>
    <div class="justify-content-center gx-0 mx-0 px-0">
        <div class="col px-0" id="main">
            <div class="container-fluid bg-warning" id="messages">
                {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row-xl align-items-center p-2" id="blue">
                <div class="row row-cols-2 justify-content-between text-center">
                    <h2 class="col-6 h1" id="green">Here are your current appointments.</h2>
                    <a href="/appointments/new" class="col-6 h2 pt-2">Add a new appointment.</a>
                </div>
                <div class="row-xl align-items-center" id="blue">
                    <div class="text-center" id="thought_div">
                        <em class="text-center" id="favdiv"></em>
                        {% if current %}
                            <div class="table-responsive">
                                <table class="table table-lg table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col-lg-5">Tasks</th>
                                            <th scope="col-lg-2">Date</th>
                                            <th scope="col-lg-2">Status</th>
                                            <th scope="col-lg-3">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appt in current %}
                                        <tr>
                                            <td>{{ appt.task }}</td>
                                            <td>{{ appt.date|date:'m-d-Y'}}</td>
                                            <td>{{ appt.status.name }}</td>
                                            <td>
                                                {% if appt.status.name == 'Pending' %}
                                                    <a href="/appointments/{{ appt.id }}/edit" value="Edit"> Edit </a> | 
                                                    <a href="/appointments/{{ appt.id }}/destroy" value="Delete"> Delete </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <h2>You haven't scheduled any appointments yet.</h2>
                        {% endif %}
                    </div>
                </div>
                <em></em>
                <div class="row-xl align-items-center" id="blue">
                    <h3 class="h1 text-center">Here are your past appointments.</h3>
                    <div class="text-center" id="thought_div">
                        <em class="text-center" id="favdiv"></em>
                        {% if past %}
                            <div class="table-responsive">
                                <table class="table table-lg table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col-lg-6">Tasks</th>
                                            <th scope="col-lg-6">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appt in past %}
                                        <tr>
                                            <td>{{ appt.task }}</td>
                                            <td>{{ appt.date|date:'m-d-Y'}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <h2>You haven't completed any appointments yet.</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>


{% comment %} <div class="row-md-12">
                    {% if fav_thoughts == True %}
                        {% for quote in fav_thoughts %}
                        <div class="container">
                            <div class="row row-cols-1">
                                <div class="text-left" id="fav2">
                                    <p id="{{ quote.id }}">{{ quote.quoted_by }}: {{ quote.message }}</p>
                                    {% if logged_user.id == user.id %}
                                        <div class="btn-group" role="group">
                                            <a href="/appointments/{{ quote.id }}/edit" class="btn btn-secondary">Edit Post</a>
                                            <a href="/appointments/ {{ quote.id }}/destroy" class="btn btn-warning">Delete Post</a> 
                                        </div>
                                    {% else %}
                                        <a class="text-right" href="/appointments/{{ quote.id }}/fav">Remove from Favorites</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="container">
                            <h2 class="h2 text-center">You have no favorites!</h2>
                            <p class="h3 p-5 text-center">Please check out some of the thoughts on the left, or add one of your own!</p>
                        </div>
                    {% endif %}
                </div> {% endcomment %}