.bod1 {
    color: black;
    margin:auto;
    display: flex;
    width:100%;
    height:100%;
    flex-flow: column;
    vertical-align: auto;
    justify-items: center;
    background-color: white;
}
#bod1 {
    margin:auto;
    display:flex;
    width:100vh;
    height:100%;
    flex-flow:column;
    vertical-align:auto;
    justify-items: center;
    background-color: gray;
}
#main {
    padding: 90px;
    display:grid;
    min-height:auto;
    min-width:100%;
}
#main2 {
    padding: 90px;
    min-height:100%;
    min-width:100%;
    
}
#content {
    min-height:100vh;
    min-width:100vh;
}
#nav1 {
    border-bottom: 8px solid black;
    background-color: rgb(5, 5, 206);
}
#nav2 {
    border-bottom: 8px solid black;
}
h1, h2 {
    text-align: center;
    vertical-align:center;
    text-decoration:underline;
    text-underline-offset: 3px;
}
h1 {
    color: white;
    font-size: 4em;
    text-decoration-color: black;
}
#green {
    text-decoration-color: green;
}
h2 {
    text-decoration-color: red;
}
form {
    width: 100%;
    padding: 1em;
    margin: auto;
    display:block;
    font-size: 1.175em;
    text-align: center;
    justify-content:space-evenly;
    border: 5px solid black;
}
table {
    margin: auto;
    width: 90%;
    padding: 20px;
    font-size: 1.175em;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}
em {
    display: inline-flex;
    align-self: center;
    margin: 10px 0px 10px 0px;
    width:100%;
    border: 3px solid red;
}
#black {
    display: inline-flex;
    align-self: center;
    margin:5px 0px 5px 0px;
    width:100%;
    border: 1px solid black;
}
ul {
    padding-top:10px;
}
.white {
    border: 3px solid white;
}
.black {
    border: 3px solid white;
}
.new {
    background-color: rgb(77, 77, 77);
    padding-top: 2%;
    outline: 15px solid red;
}
.register {
    margin:0 auto;
    width:87.5%;
}
.login{
    margin:0 auto;
    width:66%;
}
.btn {
    margin:0 auto;
}
#thought_div {
    margin:0 auto;
    width:87.5%;
    justify-content: center;
}
#messages {
    margin:0 auto;
    display:flex;
    justify-content: center;
}
#bottom_border {
    border-bottom: 5px solid black;
}
#border {
    border: 3px solid navy;
    text-align:center;
    justify-content: center;
    padding: 7.5px;
}
#border2 {
    border: 2.5px solid black;
    display:block;
    text-align:center;
    justify-content: center;
}
#button1, #button2 {
    width:75%;
    margin:0 auto;
    padding:5px;
}
#successbtn {
    padding-top: 50px;
    margin:auto;
}
#favdiv {
    display: inline-flex;
    margin: 0px 0px 10px 0px;
    width:100%;
    border: 3px solid black;
}
#favdiv2 {
    width:75%;
    border: 3px solid black;
}
#none {
    text-decoration: none;
}